/* rehype-pretty-code wraps code in <figure>, reset its margin */
[data-rehype-pretty-code-figure] {
  margin: 0;
}

[data-rehype-pretty-code-figure] pre {
  margin: 0;
}

html.light [data-rehype-pretty-code-figure] span {
  color: var(--shiki-light);
  font-style: var(--shiki-light-font-style, inherit);
  font-weight: var(--shiki-light-font-weight, inherit);
  text-decoration: var(--shiki-light-text-decoration, inherit);
}

html.dark [data-rehype-pretty-code-figure] span {
  color: var(--shiki-dark);
  font-style: var(--shiki-dark-font-style, inherit);
  font-weight: var(--shiki-dark-font-weight, inherit);
  text-decoration: var(--shiki-dark-text-decoration, inherit);
}
